---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageNotFoundHero from '../components/page-heros/PageNotFoundHero.astro';
import PageTitle from '../components/shared/PageTitle.astro';
---
<BaseLayout>
    <PageNotFoundHero>
        <PageTitle>Page Not Found</PageTitle>
        <p>Sorry, we couldn't find the page you were looking for.</p>
    </PageNotFoundHero>
</BaseLayout>
