---
---
<nav class="navbar">
    <div class="container nav-container">
        <div class="logo">
            <a href="/"><span class="logo-highlight">ART</span>rans Consult.</a>
        </div>
        <ul class="nav-links">
            <li><a id="nav_index" href="/">Home</a></li>
            <li><a id="nav_profile" href="/profile">Profile</a></li>
            <li><a id="nav_projects" href="/projects">Projects</a></li>
            <li><a id="nav_insights" href="/insights">Insights</a></li>
            <li><a id="nav_services" href="/services">Expertise</a></li>
            <li><a id="nav_contact" href="/contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</nav>

